.factorypath

# /core/
.project
.settings
/core/build.log
./target
.idea/

# /core/mybatis-generator-core/
.classpath
mybatis-generator-core/.project
mybatis-generator-core/.settings
mybatis-generator-core/target

# /core/mybatis-generator-maven-plugin/
mybatis-generator-maven-plugin/.classpath
mybatis-generator-maven-plugin/.project
mybatis-generator-maven-plugin/.settings
mybatis-generator-maven-plugin/target

/.project
.idea
*.iml
/core/.mvn/wrapper/maven-wrapper.jar
**/.DS_Store

 *.ipr
*.iws
*.iml
.gradle/*
.classpath
build/*
classes/*
out
.gradle*
.idea
.idea/*
.idea*
.classpath
.project
.settings/
*.log
*.log.*
*.bak
bin/
data/*
*workspace.xml
